.paintings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: auto;

  margin-left: -30px;
}

.paintings__column {
  background-clip: padding-box;

  padding-left: 30px;
  margin-bottom: 30px;
}
